@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  width: 100%;
}

h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: hsl(210, 10%, 33%);
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
  }
}

h2 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
@media screen and (max-width: 640px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  h4 {
    font-size: 1rem;
  }
}

p {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  color: hsl(201, 11%, 66%);
  text-align: center;
}
@media screen and (max-width: 640px) {
  p {
    font-size: 1rem;
  }
}

.m-1 {
  margin: 0.5rem;
} /* 8px */
.m-2 {
  margin: 1rem;
} /* 16px */
.m-3 {
  margin: 1.5rem;
} /* 24px */
.m-4 {
  margin: 2rem;
} /* 32px */
.m-5 {
  margin: 2.5rem;
} /* 40px */
.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

/* Espaçamentos de padding */
.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

/* Espaçamentos de padding para eixos específicos */
.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.align-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../../images/bg-header-desktop.png") no-repeat center/cover;
  flex-direction: column;
  padding: 0 24px;
}
.hero .buttons a {
  text-decoration: none;
  color: white;
  background-color: hsl(171, 66%, 44%);
  padding: 16px 24px;
  border-radius: 26px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.154);
  transition: 0.3s ease;
}
.hero .buttons a:hover {
  opacity: 0.8;
}
.hero .buttons .btn2 {
  background-color: hsl(233, 100%, 69%);
}
@media screen and (max-width: 640px) {
  .hero .buttons {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
  }
  .hero .buttons a {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 640px) {
  .hero {
    background: url("../../images/bg-header-mobile.png") no-repeat center/cover;
  }
}

.keep-track {
  width: 100%;
}
.keep-track P {
  margin: 0 auto;
  max-width: 70%;
}
.keep-track .keep-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 92px;
  margin-top: 64px;
}
.keep-track .keep-container .keep-img {
  width: 100%;
  height: 100%;
  transform: translateX(-24px);
}
.keep-track .keep-container .keep-img img {
  width: 100%;
  height: 100%;
}
.keep-track .keep-container .keep-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.keep-track .keep-container .keep-text ul {
  list-style-type: none;
}
.keep-track .keep-container .keep-text li p {
  margin: 0;
  text-align: left;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .keep-track .keep-container {
    flex-direction: column;
    padding: 0 24px;
  }
  .keep-track .keep-container .keep-img {
    margin: 0 auto;
    transform: translateX(0);
  }
  .keep-track .keep-container .keep-text h3, .keep-track .keep-container .keep-text p {
    margin: 0 auto;
    text-align: center;
  }
  .keep-track .keep-container .keep-text li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .keep-track .keep-container .keep-text li p {
    text-align: center;
    width: 100%;
  }
}

.acess {
  width: 100%;
  padding-top: 240px;
}
.acess h2 {
  text-align: center;
}
.acess p {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}
.acess .acess-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.acess .acess-img img {
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .acess {
    padding-top: 200px;
  }
}

.superchange {
  width: 100%;
  padding-top: 92px;
}
.superchange h2 {
  text-align: center;
}
.superchange .superchange-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}
.superchange .list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.superchange .list-item p {
  max-width: 70%;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .superchange .superchange-list {
    flex-direction: column;
  }
}

.companies {
  width: 100%;
  padding: 240px 24px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies img {
  margin-left: 52px;
}
@media screen and (max-width: 640px) {
  .companies {
    flex-direction: column;
  }
  .companies img {
    margin-left: 0;
    margin-bottom: 52px;
  }
}

.dowload {
  width: 100%;
  padding: 240px 0;
}
.dowload h2 {
  text-align: center;
}
.dowload p {
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
}
.dowload .btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dowload .btn a {
  text-decoration: none;
  color: white;
  background-color: hsl(171, 66%, 44%);
  padding: 16px 24px;
  border-radius: 26px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.154);
  transition: 0.3s ease;
}
.dowload .btn a:hover {
  opacity: 0.8;
}
.dowload .btn .btn2 {
  background-color: hsl(233, 100%, 69%);
}
@media screen and (max-width: 640px) {
  .dowload .btn {
    display: flex;
    flex-direction: column;
    margin: 40px auto 0 auto;
    width: 70%;
    text-align: center;
  }
  .dowload .btn a {
    margin-bottom: 16px;
  }
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 24px;
  background-color: hsla(202, 11%, 66%, 0.42);
}
footer .logo {
  width: 52px;
  height: 52px;
}
footer .logo img {
  width: 100%;
  height: 100%;
}
footer ul {
  width: 50%;
  margin-left: 64px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
footer ul a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  font-weight: 500;
  transition: 0.3s ease;
}
footer ul a:hover {
  color: hsl(171, 66%, 44%);
}
footer .sociais {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 64px;
}
@media screen and (max-width: 640px) {
  footer {
    flex-direction: column;
    gap: 40px;
  }
  footer ul {
    grid-template-columns: 1fr;
    text-align: center;
    margin-left: 0;
  }
  footer .sociais {
    margin-left: 0;
  }
}

.attribution {
  position: absolute;
  bottom: 4px;
  font-size: 11px;
  text-align: center;
  opacity: 0.8;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */