@mixin responsivi($breakpoint){
    @media screen and (max-width: $breakpoint){
        @content;
    }
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}
.align-center{
    text-align: center;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero{
    width: 100%;
    height: 100vh;
    background: url('../../images/bg-header-desktop.png') no-repeat center / cover;
    flex-direction: column;
    padding: 0 24px;


    .buttons{
        a{
            text-decoration: none;
            color: white;
            background-color: $Strong-Cyan;
            padding: 16px 24px;
            border-radius: 26px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.154);
            transition: 0.3s ease;
            &:hover{
                opacity: 0.8;
            }
        }
        .btn2{
            background-color: $Light-Blue;
        }
        
        @include responsivi(640px){
            display: flex;
            flex-direction: column;
            width: 70%;
            text-align: center;

            a{
                margin-bottom: 16px;
            }
        }
    }
    @include responsivi(640px){
        background: url('../../images/bg-header-mobile.png') no-repeat center / cover;
    }
}

.keep-track{
    width: 100%;
    
    P{
        margin: 0 auto;
        max-width: 70%;
    }

    .keep-container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 92px;
        margin-top: 64px;
        .keep-img{
            width: 100%;
            height: 100%;
            transform: translateX(-24px);
            img{
                width: 100%;
                height: 100%;
            }
        }

        .keep-text{
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100%;
            ul{
                list-style-type: none;
            }
            li{
                p{
                    margin: 0; 
                    text-align: left;
                    width: 100%;
                }
            }
        }

        @include responsivi(640px){
            flex-direction: column;
            padding: 0 24px;

            .keep-img{
                margin: 0 auto;
                transform: translateX(0);
            }
            .keep-text{
                h3, p{
                    
                    margin: 0 auto;
                    text-align: center;
                }
                li{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                       
                    p{
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.acess{
    width: 100%;
    padding-top: 240px;

    h2{
        text-align: center;
    }
    p{
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    .acess-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;

        img{
            width: 60%;
            margin: 0 auto;
        }
    }
    @include responsivi(640px){
        padding-top: 200px;
    }
}

.superchange{
    width: 100%;
    padding-top: 92px;

    h2{
        text-align: center;
    }

    .superchange-list{
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 24px;
    }
    .list-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p{
            max-width: 70%;
            text-align: center;
        }
    }
    @include responsivi(640px){
        .superchange-list{
            flex-direction: column;
        }
    }
}

.companies{
    width: 100%;
    padding: 240px 24px 0px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img{
       
        margin-left: 52px;
    }

    @include responsivi(640px){
        flex-direction: column;

        img{
            margin-left: 0;
            margin-bottom: 52px;
        }
    }
}
.dowload{
    width: 100%;
    padding: 240px 0;
    h2{
        text-align: center;
    }
    p{
        max-width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    .btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            text-decoration: none;
            color: white;
            background-color: $Strong-Cyan;
            padding: 16px 24px;
            border-radius: 26px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.154);
            transition: 0.3s ease;

            &:hover{
                opacity: 0.8;
            }
        }
        .btn2{
            background-color: $Light-Blue;
        }
        
        @include responsivi(640px){
            display: flex;
            flex-direction: column;
            margin: 40px auto 0 auto;
            width: 70%;
            text-align: center;

            a{
                margin-bottom: 16px;
            }
        }
    }
}

footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 24px;
    background-color: hsla(202, 11%, 66%, 0.42);

    .logo{
        width: 52px;
        height: 52px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    ul{
        width: 50%;
        margin-left: 64px;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;

        a{
            text-decoration: none;
            color: $Dark-Grayish-Blue;
            font-weight: 500;
            transition: 0.3s ease;
        
            &:hover{
                color: $Strong-Cyan;
            }
        }
    }

    .sociais{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 64px;
    }

    @include responsivi(640px){
        flex-direction: column;
        gap: 40px;
        ul{
            grid-template-columns: 1fr;
           text-align: center;
           margin-left: 0;
        }
        .sociais{
            margin-left: 0;
        }
    }
}

