@mixin responsivi($breakpoint){
    @media screen and (max-width: $breakpoint){
        @content;
    }
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}
.align-center{
    text-align: center;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


