@mixin responsivi($breakpoint){
    @media screen and (max-width: $breakpoint){
        @content;
    }
}

h1{
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: $Dark-Grayish-Blue;

    @include responsivi(640px){
        font-size: 2.5rem;
        margin: 0 auto;
        text-align: center;
    }
}
h2{
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: $Dark-Grayish-Blue;

    @include responsivi(640px){
        font-size: 1.5rem;
    }
}
h3{
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: $Dark-Grayish-Blue;

    @include responsivi(640px){
        font-size: 1rem;
    }
}
h4{
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    
    text-transform: uppercase;

    @include responsivi(640px){
        font-size: 1rem;
    }
}

p{
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    color: $Grayish-Blue;
    text-align: center;
    @include responsivi(640px){
        font-size: 1rem;
    }
}
